<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.vox-cdn.com/thumbor/gKVvb0Y3sgpyPkWWuX5i1rvxWqU=/131x0:2017x1061/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/48448993/best_movies.0.0.jpg)">
  Movies
</div>
